<div data-ng-controller="galleryController as vm" data-ng-init="vm.getPhotos()">
    <div class="jumbotron jumbotronPurple">
        <h1>Gallery</h1>
        <p class="lead">A closer look at our warm and welcoming environment...</p>
    </div>
    <hr class="featurette-divider">

    <div ng-if="vm.photos === null" class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
    </div>
    <div class="container marketing">
        <div class="row pager-area">
            <dir-pagination-controls boundary-links="true" auto-hide="false" template-url="/Scripts/angular-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                <select placeholder="Photos per page" 
                        ng-model="vm.selectedItemsPerPage" 
                        ng-options="option.label for option in vm.paginationOptions" 
                        ng-change="vm.paginationOption_OnChange()">                  
                </select>
        </div>
        <div class="row" id="links">
            <div class="col-lg-2 col-md-3 col-sm-5 thumbContainer"
                 dir-paginate="photo in vm.photos | itemsPerPage: vm.itemsPerPage track by photo.photoId">
                <a href="{{photo.mediumUrl}}" title="{{photo.title}}" data-gallery>
                    <img class="img-responsive thumb" ng-src="{{photo.mediumUrl}}" alt="{{photo.title}}">
                </a>
            </div>
        </div>
    </div>

    <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
    <div id="blueimp-gallery" class="blueimp-gallery">
        <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header jumbotronPurple">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body next"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default pull-left prev">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Previous
                        </button>
                        <button type="button" class="btn btn-primary next">
                            Next
                            <i class="glyphicon glyphicon-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

