@font-face {
    font-family: Kids;
    src: url('../fonts/5yearsoldfont.ttf');
}

@font-face {
    font-family: Kids;
    font-weight: bold;
    src: url('../fonts/5yearsoldfont.ttf');
}

html, body {
    height: 100%;
}

img {
    border: 0;
}
/* Basic Styles */
body {
    font-size: 14px;
    color: #000000;
    line-height: 14px;
    font-family: Kids;
    background: #ffffff;
    padding: 0;
    margin: 0;
    letter-spacing: -0.19px;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*NAV BAR*/
.navbar-default {
    background-color: #20296d;
    border-color: #2b64c0;
}

    .navbar-default .navbar-brand {
        color: #1e758b;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #59e8ee;
        }

    .navbar-default .navbar-text {
        color: #1e758b;
    }

    .navbar-default .navbar-nav > li > a {
        color: #1e758b;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #59e8ee;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #59e8ee;
        background-color: #2b64c0;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #59e8ee;
        background-color: #2b64c0;
    }

    .navbar-default .navbar-toggle {
        border-color: #2b64c0;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #2b64c0;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #1e758b;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #1e758b;
    }

    .navbar-default .navbar-link {
        color: #1e758b;
    }

        .navbar-default .navbar-link:hover {
            color: #59e8ee;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #1e758b;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #59e8ee;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #59e8ee;
        background-color: #2b64c0;
    }
}

/*END NAV BAR*/

.contactNav {
    margin-top: 0.8em;
}

.priceCard {
    display: block;
    border: black;
    border-style: double;
    padding: 10px;
    margin: 1em 1em 0 0;
    height: 10em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0f3fa+0,d8f0fc+50,b8e2f6+51,b6dffd+100;Shape+2+Style */
    background: rgb(224,243,250); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-9 */
}

.priceCardTitle, .priceCardCost {
    text-align: center;
}

.map {
    height: 25em !important;
    width: 100%;
}
    /* 
Fixes Bootstrap issues with Google Maps
see http://stackoverflow.com/a/9170756 
*/
    .map img {
        max-width: none;
    }

/*
    faq
*/

.faq-section > ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.faq-start {
    font-size: 2em;
}

.faq-question, .faq-answer {
    margin: 1em;
}

.sbGreen {
    color: #1E8D4A;
}

.jumbotronGreen {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e8d4a+1,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(30,141,74,0.65) 0%, rgba(30,141,74,0.64) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,141,74,0.65) 0%,rgba(30,141,74,0.64) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,141,74,0.65) 0%,rgba(30,141,74,0.64) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a61e8d4a', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.sbBlue {
    color: #53C2DD;
}

.jumbotronBlue {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#53c2dd+1,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(83,194,221,0.65) 0%, rgba(83,194,221,0.64) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(83,194,221,0.65) 0%,rgba(83,194,221,0.64) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(83,194,221,0.65) 0%,rgba(83,194,221,0.64) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a653c2dd', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.sbRed {
    color: #E71412;
}

.jumbotronRed {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e71412+1,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(231,20,18,0.65) 0%, rgba(231,20,18,0.64) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(231,20,18,0.65) 0%,rgba(231,20,18,0.64) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(231,20,18,0.65) 0%,rgba(231,20,18,0.64) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6e71412', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.sbYellow {
    color: #F7D140;
}

.jumbotronYellow {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f7d140+1,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(247,209,64,0.65) 0%, rgba(247,209,64,0.64) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(247,209,64,0.65) 0%,rgba(247,209,64,0.64) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(247,209,64,0.65) 0%,rgba(247,209,64,0.64) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6f7d140', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}


.sbPurple {
    color: #662D91;
}

.jumbotronPurple {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#662d91+1,000000+100&0.65+0,0+100 */
    background: -moz-linear-gradient(top, rgba(102,45,145,0.65) 0%, rgba(102,45,145,0.64) 1%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(102,45,145,0.65) 0%,rgba(102,45,145,0.64) 1%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(102,45,145,0.65) 0%,rgba(102,45,145,0.64) 1%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6662d91', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.clockImage {
    height: 15em;
}
